<section class="section">
  <h1 class="title has-text-centered">Articles listing page</h1>
  <div class="flickr_pagination">
    <%= will_paginate @articles , :container => false %>
  </div>
  <%= render 'article' %>
  <div class="flickr_pagination">
    <%= will_paginate @articles , :container => false %>
  </div>
</section>