<section class="hero is-medium is-black is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Edgar's Alpha Blog
      </h1>
      <h2 class="subtitle has-text-centered">
        Welcome
      </h2>
			<button href="" class="button signup-button is-info is-large"><strong>SIGN UP TODAY!</strong></button>
    </div>
  </div>
</section>
<%= link_to  "Articles listing", articles_path %>
