@import './overrides.scss';
@import '../../../node_modules/bulma/bulma.sass';

.navbar {


	.signup-button {
		background-color: $flame-pea;
		border: none;
		color: $alabaster;
	}
	
	.login-button {
		background-color: $alabaster;
		color: $info;
	}
}


.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	
	.hero {

		.hero-body {
			background: no-repeat center / 100% url('../../../public/images/Orange-Typewriter.png');
			
			h1 {
				font-size: 4rem;
			}
	
			h2 { 
				font-size: 3rem;	
			}
		}
	}
}
