<section class="section">
  <h1 class="title has-text-centered">Edit category name.</h1>
  <div class="container">
    <%= render 'form' %>
    <div>
      <%= link_to  "[ Cancel and return to category ]", category_path(@category) %>
    </div>
  </div>
</section>